<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ client.id ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">

    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>

        </div>
        <div class="row" *ngIf="client.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cod.</label>
                    <input type="text" name="id" [ngModel]="client.id" class="form-control" disabled />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <input type="date" name="registaryDate" [ngModel]="client.registaryDate" class="form-control"
                        disabled>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF</label>
                    <input type="text" name="cpf" [(ngModel)]="client.cpf" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" [(ngModel)]="client.name" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button *ngIf="!client.id" type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar</button>

                <button *ngIf="client.id" type="submit" class="btn btn-primary">
                    <i class="bi bi-arrow-clockwise"></i>
                    Atualizar</button>

                <button type="button" (click)="backToList()" class="btn btn-warning ml-1"><i
                        class="fa fa-arrow-left"></i>
                    Voltar</button>
            </div>
        </div>

    </form>

</div>