<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="successMessage">
                {{ successMessage }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <button (click)="saveClient()" class="btn btn-warning">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Cadastro</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td> {{ client.id }} </td>
                        <td> {{ client.name }} </td>
                        <td> {{ client.cpf }} </td>
                        <td> {{ client.registaryDate }} </td>
                        <td>
                            <button style="margin-right: 5px;" routerLink="/clients/form/{{ client.id }}" class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" data-toggle="modal" (click)="openModalClientDelete(client)"data-target="#modalDelete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja deletar o(a) cliente {{ selectClient.name }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="deleteClient()" data-dismiss="modal">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>